.form {
    margin-top: 36px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.input {
    width: 272px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.input:hover {
    border-color: #000000;
}

.input:focus {
    color: #2e2f42;
    border-color: #4E75FF;
}

.button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background-color: #4E75FF;
    border: 1px solid #4E75FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.button:hover,
.button:focus {
    border-color: #6c8cff;
    background-color: #6c8cff;

}

.load-button {
    display: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background-color: #4E75FF;
    border: 1px solid #4E75FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.load-button:hover,
.load-button:focus {
    border-color: #6c8cff;
    background-color: #6c8cff;

}