.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 20px;
}

.gallery-item {
    width: 360px;
    height: 200px;
    border: 1px solid #808080;
}

.image-info {
    display: flex;
    justify-content: space-between;
    width: 315px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 25px;
}

.image-info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-p {
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.info-span {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.gallery-image {
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
}

.gallery-link {
    display: block;
    width: 360px;
    height: 152px;
    overflow: hidden;
}