@import url('./reset.css');
@import url('./base.css');
@import url("./form.css");
@import url("./gallery.css");
@import url("./loader.css");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}